@model NotAFractal.Models.ViewModels.NodeViewModel

<div class="nodeContainer">
    @if(!Model.Name.IsEmpty())
    {
        <p><b>@Model.Name</b></p>        
    }
                             
    @if(!Model.Text.IsEmpty())
    {
    <p>@Html.Raw(Model.Text)</p> 
    }

    @foreach (var node in @Model.ChildNodes)
    {
        @Html.Partial("_NodeStub", node)
    }
    
    @if(!Model.ChildNodes.Any() && string.IsNullOrEmpty(Model.Name) && string.IsNullOrEmpty(Model.Text))
    {
        <p>Empty Node</p>
    }
</div>

