@model NotAFractal.Models.ViewModels.NodeViewModel

<div class="node" data-open="false" data-generated="false" data-seed="@Model.Seed" data-Type="@Model.Type">
    @if(Model.EmptyNode) 
    {
        <span class="">
            <span class="treeViewEmptyToggleIndicator btn btn-mini">&diams;</span>            
            @Model.Title
        </span>  <a class="infoLink"><img src="~/Content/img/Symbols-Info-icon.png"/></a>      
    }else 
    {        
        <span class="toggleLink">
            <span class="treeViewToggleIndicator btn btn-inverse btn-mini">+</span> 
            @Model.Title
       </span>  <a class="infoLink"><img src="~/Content/img/Symbols-Info-icon.png"/></a> 
    }   
</div>
