@model NotAFractal.Models.ViewModels.NodeInformationViewModel

@{
    Layout = null;
}

<h3>@Model.Title</h3>

<p>
    @Model.Text
</p>

<p>
    Would you like to know <a href="@Model.Link" target="_blank">More</a>?
</p>