@model NotAFractal.Models.ViewModels.NodeInformationViewModel

@{
    Layout = null;
}

<h3>@Model.Title</h3>

<p>
    @Model.Text
</p>

<p>
    @if(!String.IsNullOrEmpty(Model.Link))
    {
        @: Would you like to know <a href="@Model.Link" target="_blank">More</a>?<br/>
    }        
    <a href="@Url.Action("Root","Home",new {type = Model.Type, seed = Model.Seed})" target="_blank">Link</a> to this item.
</p>