@model NotAFractal.Models.ViewModels.NodeViewModel

<div class="node" data-open="false" data-generated="true" data-seed="@Model.Seed" data-Type="@Model.Type">
    <span class="toggleLink">
        <span class="treeViewToggleIndicator btn btn-inverse btn-small">+</span> 
        @Model.Title
    </span> - <a class="infoLink">Info</a>
    
    @Html.Partial("_NodeContainer",@Model)
</div>
