body {
}

.mainContent {
    
}

.mainSidebar {

}

.node {

}

.nodeContainer {
    margin-left: 10px;
    display: none;
}

.treeViewToggleIndicator {
    margin: 1px;
    font-family: monospace;
}

.toggleLink {
    cursor: default;
}

.infoLink {
    cursor: pointer;
}