body {
}

.mainContent {
    
}

.mainSidebar {
    border-left-width: thin !important;
    border-left-style: solid;
    border-left-color: slategray;
}

.node {
    
}

.nodeContainer {
    margin-left: 10px;
    display: none;
}
