body {
}

.mainContent {
    
}

.mainSidebar {

}

.node {

}

.nodeContainer {
    margin-left: 10px;
    display: none;
}

.treeViewToggleIndicator {
    color:#fff;
	background-color:#000;
	padding-left:3px;
	padding-right:3px;
}

.toggleLink {
    cursor: default;
}

.infoLink {
    cursor: pointer;
}